body{
    font-family: Arial, sans-serif;
    
    background-color: #f9fafb;
    color: #2563eb;
    margin: 0;
}
.ajout_button {
    display: inline-block;
    border: 2px solid white;
    border-radius: 6px; 
    padding: 6px 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
table{
    width : 100%;
    
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;    
}
th, td{
    border: 2px solid #e5e7eb;
    overflow: hidden;
    text-align: left;
    color: #374151;
    padding: 12px 15px;
    
}


.submit_button{
    background-color: #2563eb;
    color : white;
    border: none;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;

}
.content-form form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: end;
    
}
.form-element {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.form-element input{
    margin-bottom: 20px;
}
input{
    color: #000000;
    padding: 5px;
    border : 1px solid #d1d5db;
    
    outline: none; 
    transition: border-color 0.2s;
    border-radius: 6px;
    cursor: text;
}
input:focus {
    border-color: #2563eb ;
}

label{
    color: #374151;
}
.button_case{
    padding: 1px;
    gap: 10px;
    align-items: center;
    width:min-content;
    
    
}
.button_case button{
    background-color: #2563eb;
    color : white;
    border: none;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    
}
.button_case a{
    background-color: #2563eb;
    color : white;
    border: none;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    
    text-decoration: none;
}
.content-form{
    
    margin: auto auto;
    display: flex;
    justify-content: center; 
    align-items: center;     
    
    
}

.back_button{
    display: inline-block;
    border: 2px solid #2563eb;
    border-radius: 6px; 
    padding: 6px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #2563eb;
    cursor: pointer;
}


.actions-buttons-form{
    padding: 1px;
    gap: 10px;
    align-items: center;
    margin-left: 10px;
    
    
}
.topbar{
    background-color: #2563eb;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1px 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.topbar button{
    display: inline-block;
    border: 2px solid white;
    border-radius: 6px; 
    padding: 6px 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #2563eb;
    cursor: pointer;
}
.topbar form{
    align-content: center;
    
}
.topbar img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    
}
.logo{
    display: flex;
    align-items: center;
}
.button-bleu{
    background-color: #2563eb;
    color : white;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.dropdown-button{
    display: inline-block;
    border: 1px solid #2563eb;
    border-radius: 6px; 
    padding: 3px 5px;
    color: #2563eb;
    background-color: white;
    margin-right: 5px;
    cursor: pointer;
    width: 188px;
    
}

.dropdown{
    position: relative;
    display: inline-block;
    margin-left: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #2563eb;
  border-radius: 6px;
  min-width: 160px;
  z-index: 1;
  margin-top: 4px;
  width: 190px;
}
.dropdown-content button {
  color: #2563eb;
  padding: 8px 12px;
  cursor: pointer;
  background: none;
    border: none;
    outline: none;
    box-shadow: auto;
    width: 100%;
}
.dropdown-content button:hover {
  background: #2563eb;
  color: #111;
  border-radius: 6px;
}

.dropdown.show .dropdown-content {
  display: block;
}
.compteur{
    color: #111;
    font-size: small;
}
.export_boutton{
    background-color: #2563eb;
    color : white;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;  
    margin-left: auto;
  
}
.haut_tableau{
    display: flex;
    align-items: center;
    margin: 0;
}
.filtre{
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0;
}
.filtre button{
    padding: 4px;
}
.filtre input{
    width: 70px;
}
.tri_button{
    background: none;
    border: none;
    outline: none;
    box-shadow: auto;
    width: 100%;
    
    

}