<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Elèves Directe - Ajout</title>
</head>
<body>
    <a class="back_button" href="/">Retour à l'acceuil</a>
    <a class="back_button" href='{{ infos["URL_liste"] }}'>Aller a la liste</a>
    <div class="content-form">
    <div>
    <h1>{{ infos["titre"] }}</h1>
    <form method="POST">
        {% for c in colonnes %}
        {% if c["type"] == "dropdown" %}
        <div class="dropdown" id="dropdown_{{ c['id'] }}" style="margin-bottom: 20px;">
                <label for="dropdown_{{ c['id'] }}">{{ c["titre"] }} : </label>
                <div id="dropdown-button_{{ c['id'] }}" class="dropdown-button" onclick="toggleMenu('{{ c['id'] }}')">
                    <span id="dropdown-label_{{ c['id'] }}">Séléctionnez un élément</span> &#9663;
                </div>
                <input id="dropdown-hidden_{{ c['id'] }}" type="hidden" name='{{ c["id"] }}_valeur'>
                <div class="dropdown-content">
                    {% for d in dropdown_values[c["id"]] %}
                    <button type="button" name='{{ c["id"] }}' value='{{ d[0] }}' onclick="selectOption({{ d[0] }}, '{{ c['id'] }}')">{{ d[1] }} {{ d[2] }}</button>
                    {% endfor %}
                </div>
            </div>
            
        {% else %}
        <div class="form-element">
            <label for='{{ c["id"] }}'>{{ c["titre"] }} : <input id='{{ c["id"] }}' name='{{ c["id"] }}' type='{{ c["type"] }}'></label>
            
        </div>
        {% endif %}
        {% endfor %}
        <button class="submit_button" type="submit">Enregistrer</button>
    </form>
    </div>
    </div>
</body>
<script>
const dropdown_ = {{ dropdown_values|default({})|tojson }};

function toggleMenu(name) {
  document.getElementById("dropdown_"+name).classList.toggle("show");
}

function selectOption(value,  name) {
    // update hidden input for form submission
    const hidden = document.getElementById("dropdown-hidden_"+name);
    let value_name=0
    const this_dropdown=dropdown_[name] || [];
    
    this_dropdown.forEach(element => {
        if (value === element[0]) value_name = element[1] + ' ' + element[2];
        console.log(value, element, )
    });
    if (hidden) hidden.value = value;
    console.log(this_dropdown, hidden.value);
    // update visible button label
    const label = document.getElementById("dropdown-label_"+name);
    if (label) label.textContent = value_name;
    toggleMenu(name);
}
</script>
</html>