<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Elèves Directe - Ajout</title>
</head>
<body>
    <h1>Ajouter des élèves</h1>
    <form method="POST">
        <ul>
            
                <label for="prenom">Prénom : <input type="text" id="prenom" name="prenom_eleve"></label><br>
            
                <label for="nom">Nom : <input type="text" id="nom" name="nom_eleve"></label><br>
            
                <label for="age">Age : <input type="number" id="age" name="age_eleve"></label><br> 
        </ul>
        <button class="submit_button" type="submit">Enregistrer</button>
    </form>
</body>
</html>