<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    
    <title>Elèves Directe - Accueil</title>
</head>
<body>
    <div class="topbar">
        <div class="logo">
        <img src="../static/icon.png" alt="">
        <h2>Elèves Directe</h2>
        </div>
        <form>
        <input type="text" name="recherche" placeholder="Rechercher un élève" value="{{ recherche }}">
        <input type="hidden" name="type" value="recherche">
        <button type="submit">Rechercher</button>
    </form>
    <nav>
        <a href="/ajout" class="ajout_button">Ajouter des élèves</a>
    </nav>
    </div>

   <h1>Bienvenue sur Elèves Directe</h1>
   <div class="home-page-bouttons">
    <a href="/liste" class="button-bleu">Aller à la liste des élèves</a>
    <a href="/ajout" class="button-bleu">Ajouter un élève</a>

   </div>
</body>

</html>