<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    
    <title>Elèves Directe - Accueil</title>
</head>
<body>
    <div class="topbar">
        <div class="logo">
        <img src="../static/icon.png" alt="">
        <h2>Elèves Directe</h2>
        </div>
        <form>
        <input type="text" name="recherche" placeholder="Rechercher un élève" value="{{ recherche }}">
        <button type="submit">Rechercher</button>
    </form>
    <nav>
        <a href="/ajout" class="ajout_button">Ajouter des élèves</a>
    </nav>
    </div>

   <h1>Bienvenue sur Elèves Directe</h1>
    <table>
        <p id="compteur">Nombres d'élèves affichés : {{ compteur }}</p>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Age</th>
        </tr>
        {% for e in eleves %}
        <tr>
            <td>{{ e[1] }}</td>
            <td>{{ e[2] }}</td>
            <td>{{ e[3] }}</td>
            <td class="button_case">
                
                <form action="/" class="actions-buttons-form" method="POST"> 
                    <a href="/update?id={{ e[0] }}">✏️ Modifier</a> 
                    <input type="hidden" name="id">
                    <input type="hidden" name="type" value="supprimer">
                    <button type="submit">🗑️ Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
<script>


if (compteur === null) {
  document.getElementById("compteur").style.display = "none";
}
</script>
</html>