<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    
    <title>Elèves Directe - Accueil</title>
</head>
<body>
    {% set hide_accueil_button = True %}
    {% include "composants/topbar.html" %}


   <h1>Bienvenue sur Elèves Directe</h1>
   <div class="home-page-bouttons">
    <a href="/eleve/liste" class="button-bleu">Gérer la liste des élèves</a>
    <a href="C:\Users\MATT.JARRETOU--VAIRE\OneDrive - Conseil Régional des Pays de La Loire - Direction des Lycées\Documents\GitHub\NSI-App_Web_Eleves\templates\Liste_classe.html" class="button-bleu">Gérer les classes</a>
   </div>
</body>

</html>