<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    
    <title>Elèves Directe - Liste</title>
</head>
<body>
    {% include "composants/topbar.html" %}
    

   <a class="back_button" href='{{infos["URL_ajout"]}}'>{{infos["ajout_boutton"]}}</a>
        
        
        <div class="haut_tableau">
            <p id="compteur_text" class="compteur">Nombres d'éléments affichés : <span id="compteur"></span></p>
            
            <div class="dropdown" id="dropdown">
                <label for="dropdown">Trier par : </label>
                <div class="dropdown-button" onclick="toggleMenu()">Selectionner un élément &#9663;
                <form method="POST">
                    <input type="hidden" name="type" value="tri">
                <div class="dropdown-content">
                    {% for c in colonnes %}
                    <button type="submit" name="tri" value='{{ c["id"] }}' onclick="selectOption({{ c['id'] }})">{{ c["titre"] }}</button>
                    {% endfor %}
                    
                </div>
                </form>
                </div>
            </div>
            <div class="filtre">
                <form method="POST">
                    <input type="hidden" name="type" value="filtre">
                    <label for="debut">Filtrer par age de </label>
                    <input type="number" name="debut">
                    <label for="fin"> à </label>
                    <input type="number" name="fin">
                    <label> ans</label>
                    <button type="submit" class="button-bleu">Appliquer</button>
                </form>
            </div>
            <a href='{{infos["URL_actuelle"]}}' class="annuler-button">Annuler les filtres/tri</a>
            <a href="/export" class="export_boutton">Exporter</a>
        </div>
    <table>
                       
        <tr>
        {% for c in colonnes %}
            <th>{{ c["titre"] }}</th>
        {% endfor %}
        </tr>
        {% for v in valeurs %}
        <tr>
            {% for c in colonnes %}
            <td>{{v[c["order"]]}}</td>
            {% endfor %}
            <td class="button_case">
                
                <form class="actions-buttons-form" method="POST"> 
                    <a href="/update?id={{ v[0] }}">✏️ Modifier</a> 
                    <input type="hidden" name="id" value="{{ v[0] }}">
                    <input type="hidden" name="type" value="supprimer">
                    <button type="submit">🗑️ Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
<script>
const eleves_ = {{ valeurs|tojson }};
document.getElementById("compteur").textContent = eleves_.length;



function toggleMenu() {
  document.getElementById("dropdown").classList.toggle("show");
}

async function selectOption(value) {  
    document.getElementById("tri").value=value
    if (value === "prenom") document.querySelector(".dropdown-button").textContent = "Prénom ▿";
    if (value === "nom") document.querySelector(".dropdown-button").textContent = "Nom ▿";
    if (value === "age") document.querySelector(".dropdown-button").textContent = "Age ▿";
    
    toggleMenu()
}
</script>
</html>