<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    
    <title>Elèves Directe - Liste</title>
</head>
<body>
    {% include "composants/topbar.html" %}
    

   <a class="back_button" href='{{infos["URL_ajout"]}}'>{{infos["ajout_boutton"]}}</a>
        
        
        <div class="haut_tableau">
            <p id="compteur_text" class="compteur">Nombres d'éléments affichés : <span id="compteur"></span></p>
            
            <div class="dropdown" id="dropdown">
                <label for="dropdown">Trier par : </label>
                <div class="dropdown-button" onclick="toggleMenu()">Selectionner un élément &#9663;
                <form method="POST">
                    <input type="hidden" name="type" value="tri">
                <div class="dropdown-content">
                    {% for c in colonnes %}
                    <button type="submit" name="tri" value='{{ c["id"] }}' onclick="selectOption({{ c['id'] }})">{{ c["titre"] }}</button>
                    {% endfor %}
                    
                </div>
                </form>
                </div>
            </div>

            <a href='{{infos["URL_actuelle"]}}' class="annuler-button">Annuler le tri</a>
        </div>
    <table>
                       
        <tr>
        {% for c in colonnes %}
            <th>{{ c["titre"] }}</th>
        {% endfor %}
        </tr>
        {% for v in valeurs %}
        <tr>
            {% for c in colonnes %}
            <td>{{v[c["order"]]}}</td>
            {% endfor %}
            <td class="button_case">
                
                <form class="actions-buttons-form" method="POST"> 
                    <a href="/update?id={{ v[0] }}">✏️ Modifier</a> 
                    <input type="hidden" name="id" value="{{ v[0] }}">
                    <input type="hidden" name="type" value="supprimer">
                    <button type="submit">🗑️ Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
<script>
const eleves_ = {{ valeurs|tojson }};
const colonnes_= {{ colonnes|tojson }};
document.getElementById("compteur").textContent = eleves_.length;



function toggleMenu() {
  document.getElementById("dropdown").classList.toggle("show");
}

async function selectOption(value) {  
    document.getElementById("tri").value=value
    colonnes_.forEach(element => {
        if (value === element["id"]) document.querySelector(".dropdown-button").textContent = element.titre["titre"]+"▿";
    });


    toggleMenu()
}
</script>
</html>