<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    
    <title>Elèves Directe - Accueil</title>
</head>
<body>
    <div class="topbar">
        <div class="logo">
        <img src="../static/icon.png" alt="">
        <h2>Elèves Directe</h2>
        </div>
        <form>
            <input type="text" name="recherche" placeholder="Rechercher un élève" value="{{ recherche }}">
            <input type="hidden" name="type" value="recherche">
        <button type="submit">Rechercher</button>
    </form>
    <nav>
        <a href="/ajout" class="ajout_button">Ajouter des élèves</a>
    </nav>
    </div>

   <a class="back_button" href="/">Retour à l'acceuil</a>
        
        
        <div class="haut_tableau">
            <p id="compteur_text" class="compteur">Nombres d'élèves affichés : <span id="compteur"></span></p>
            
            <div class="dropdown" id="dropdown">
                <label for="dropdown">Trier par : </label>
                <div class="dropdown-button" onclick="toggleMenu()">Selectionner un élément &#9663;
                <form method="POST">
                    <input type="hidden" name="type" value="tri">
                <div class="dropdown-content">
                    <button type="submit" name="tri" value="prenom" onclick="selectOption('prenom')">Prénom</button>
                    <button type="submit" name="tri" value="nom" onclick="selectOption('nom')">Nom</button>
                    <button type="submit" name="tri" value="age" onclick="selectOption('age')">Age</button>
                    
                </div>
                </form>
                </div>
            </div>
            <div class="filtre">
                <form method="POST">
                    <input type="hidden" name="type" value="filtre">
                    <label for="debut">Filtrer par age de </label>
                    <input type="number" name="debut">
                    <label for="fin"> à </label>
                    <input type="number" name="fin">
                    <label> ans</label>
                    <button type="submit" class="button-bleu">Appliquer</button>
                </form>
            </div>
            <a href="/liste" class="annuler-button">Annuler les filtres/tri</a>
            <a href="/export" class="export_boutton">Exporter</a>
        </div>
    <table>
                       
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Age</th>
        </tr>
        {% for e in eleves %}
        <tr>
            <td>{{ e[1] }}</td>
            <td>{{ e[2] }}</td>
            <td>{{ e[3] }}</td>
            <td class="button_case">
                
                <form class="actions-buttons-form" method="POST"> 
                    <a href="/update?id={{ e[0] }}">✏️ Modifier</a> 
                    <input type="hidden" name="id" value="{{ e[0] }}">
                    <input type="hidden" name="type" value="supprimer">
                    <button type="submit">🗑️ Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
<script>
const eleves_ = {{ eleves|tojson }};
document.getElementById("compteur").textContent = eleves_.length;



function toggleMenu() {
  document.getElementById("dropdown").classList.toggle("show");
}

async function selectOption(value) {  
    document.getElementById("tri").value=value
    if (value === "prenom") document.querySelector(".dropdown-button").textContent = "Prénom ▿";
    if (value === "nom") document.querySelector(".dropdown-button").textContent = "Nom ▿";
    if (value === "age") document.querySelector(".dropdown-button").textContent = "Age ▿";
    
    toggleMenu()
}
</script>
</html>