<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Elèves Directe - Modifer</title>
</head>
<body>
    <a class="back_button" href="/">Retour à l'acceuil</a>
    <a class="back_button" href="/liste">Aller a la liste</a>
    <div class="content-form">
    <div> 

       
    <h1>Modifer des élèves</h1>
    <form method="POST">
        <input type="hidden" name="id" value="{{ valeurs[0] }}">
        {% for c in colonnes %}
        <div class="form-element">
            <label for='{{ c["id"] }}'>{{ c["titre"] }} : <input id='{{ c["id"] }}' name='{{ c["id"] }}' type='{{ c["type"] }}' value='{{valeurs[c["order"]]}}'></label>
            
        </div>
        {% endfor %}
        
        <button class="submit_button" type="submit">Enregistrer</button>
    </form>
     </div>
    </div>
</body>
</html>